body {
  font-family: 'Segoe UI', sans-serif;
  background: #b8979751;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

.profile-card {
  background: rgb(251, 248, 248);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: inline-block;
  width: 300px;
}

img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
}

button {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #007bfc;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #005ecb;
}