body {
  font-family: sans-serif;
  text-align: center;
  padding-top: 40px;
  background: rgb(231, 222, 222);
}

#profile {
  background: white;
  padding: 20px;
  border-radius: 10px;
  display: inline-block;
  box-shadow: 0 0 10px rgba(117, 18, 18, 0.1);
}

img {
  width: 100px;
  border-radius: 50%;
}

a {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  color: blue;
  font-weight: bold;
}

a img {
  width: 20px;
  vertical-align: middle;
  margin-right: 5px;
}
